<main role="main" class="inner cover">
  <h1 class="cover-heading">Creating a Human Experience</h1>
  <p class="lead">Be useful</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

